{% schema %}
  {
    "name": "Recommended Products",
    "settings": [
      {
        "id": "recommended_products_text_title",
        "type": "text",
        "label": "Text box heading",
        "default": "Recommended Products :"
      }, {
        "id": "recommended_product_bg_image",
        "type": "image_picker",
        "label": "Background Image"
      }
    ],
    "presets": [
      {
        "name": "Recommended Products"
      }

    ]
  }
{% endschema %}

{% stylesheet %}
.page-section__body{
    max-width: 120rem;
    margin:auto;
    margin-top: 50px;
    }
    .product-recommendations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 8px 24px -8px rgba(0, 0, 0, 0.25);
        border-radius: 0px 0px 28px 28px;
        padding: 10px;
    }
    .recommended_prod_title_wrapper {
      color : white;
      padding: 32px 16px;
      border-radius: 16px 16px 0px 0px;
      background-color: #394038;
      align-items: center;
      display: flex;
      gap: 160px;
      flex-direction: row;
  }
.product-image{
    width:300px;
    height: auto;
}  
{% endstylesheet %} 
{% if cart.item_count > 0 %}

{% liquid
 assign cart_product_ids = '' 
 for item in cart.items 
   assign cart_product_ids = cart_product_ids | append: ',' | append: item.product.id 
 endfor  
 assign cart_product_ids = cart_product_ids | remove_first: ',' 
 assign product_recommendations = '' 
 assign prod_list = ''

 %}



 
 

  <div class="page-section__body">

    <div
      class="recommended_prod_title_wrapper"
      style="background-image:url('{{ section.settings.recommended_product_bg_image.src | image_url: 'large' }}')"
      ​>
      {{ section.settings.recommended_products_text_title }} 
    </div>
    <div class="product-recommendations" >
    
    {%  assign prodcount = 0 %} 
    {% for item in cart.items %}
        {% assign product_recommendations = item.product.metafields.recommendation.recommended_products.value %}
        {% for prod in product_recommendations %}
           {% assign product = all_products[prod.handle] %}
           {% assign product_id = product.id %}   
          {% if product.available and prodcount <= 5 %}     
         {% unless cart_product_ids contains product_id %}  
         {%  assign prodcount = prodcount | plus: 1  %} 
         {{prodcount}}
            <div class="product">
              <a href="{{ product.url }}">
                <div class="product-image" style="background-image:url('{{ product.featured_image.src | image_url: 'medium' }}')">
                   <img
                    loading="lazy"
                    src="{{ product.featured_image.src | img_url: 'medium' }}"
                    alt="{{ product.featured_image.alt }}"
                    > 
                </div>
              </a>
              <div class="product-info">
                <h3 class="product-title">{{ product.title | link_to: product.url }}</h3>
                <div class="product-price">{{ product.price | money }}</div>
              </div>
            </div> 

            {% 
                 
            endunless %}
            
         {% endif %} 
              
       {% endfor %} 
     {% endfor
    
      %} 
  
       
    </div>
  </div>
{% endif %}

